* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    display: grid;   
    background-color: blanchedalmond; 
    justify-content: center;
    color: blanchedalmond;
}

.skills-box {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#title {
    background-color: limegreen;
    text-align: center;
    padding: 10px 30px; 
}

.skills-list {
    display: flex;
    flex-direction: column;
    
}

ul {
    margin: 30px;
  
}

ul li {
    
    display: flex;
    list-style: none;
    color: orange;
    font-family: serif;
    justify-items: left;

}

#submit-btn {

    border: 2px solid seagreen;
    box-shadow: none;
    background-color: blanchedalmond;
    color: seagreen;
    
}

.removeBtn {
    background-color: red;
    border: 0;
    box-shadow: none;
    border-radius: 0px

}

